.DescriptionDuJeu {
    padding: 20px;
    background-color: #4e2a6e;
    color: white;
    margin: 20px 0;
    text-align: center;
    border-radius: 8px;
}

.DescriptionDuJeu h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.DescriptionDuJeu p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
}